@use "../scss/variables" as *;
@use "../scss/mixins" as mixins;

.order {
  @include mixins.flex(column);
  gap: 4rem;
  margin-bottom: 4rem;

  &__field {
    @include mixins.flex(column);
    gap: 1.5rem;
  }

  &__buttons {
    @include mixins.flex(row);
    gap: 1.5rem;
  }

  &__head {
    @include mixins.flex(column);
    gap: 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $secondary;
    margin: 0;
  }
}